@import 'theme-o-rama/themes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
  background-color: transparent;
}

body {
  background-color: transparent;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes pulsate-opacity {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
}

.pulsate-opacity {
  animation: pulsate-opacity 1.5s infinite;
}
